body {
  font-family: arial;
}

.road {
  width: 500px;
  height: 600px;
  background-image: url("road.jpg");
  background-size: 100%;
  animation: move 500ms linear both infinite;
  margin: 0 auto;
  cursor: url(car2.png), auto;
  position: relative;
  overflow: hidden;
}

@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 170px;
  }
}

.counter {
  width: 150px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 3;
}

.counter::after {
  content: "miles";
}

.counter > ul,
.counter > ul > li {
  list-style: none;
  width: 150px;
  height: 100px;
  box-sizing: border-box;
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.counter > ul > li {
  padding-top: 20px;
  text-align: center;
}

.counter > ul {
  position: absolute;
  left: 0;
  top: 0;
  animation: count-up 200s both linear;
}

@keyframes count-up {
  from {
    top: 0;
  }

  to {
    top: -6750px;
  }
}

.car {
  position: absolute;
  left: 0;
  top: 0;
  animation: pass 4s both;
  cursor: pointer;
}

/* 30, 150, 270, 400 */
.car:nth-child(1).level1 { left: 270px; animation: pass 6s 0s 3 both; }
.car:nth-child(2).level1 { left: 150px; animation: pass 7s 1s 3 both; }
.car:nth-child(3).level1 { left: 400px; animation: pass 7s 2s 3 both; }
.car:nth-child(4).level1 { left: 150px; animation: pass 8s 4s 3 both; }
.car:nth-child(5).level1 { left: 30px; animation: pass 7s 5s 3 both; }

.car:nth-child(6).level2 { left: 35px; animation: pass 4s 25s 4 both; }
.car:nth-child(7).level2 { left: 145px; animation: pass 5s 27.5s 4 both; }
.car:nth-child(8).level2 { left: 265px; animation: pass 5s 27.5s 4 both; }
.car:nth-child(9).level2 { left: 35px; animation: pass 4s 28.5s 4 both; }
.car:nth-child(10).level2 { left: 150px; animation: pass 6s 29s 4 both; }

.car:nth-child(11).level3 { left: 270px; animation: pass 4s 50s 5 both; }
.car:nth-child(12).level3 { left: 150px; animation: pass 3s 51.5s 5 both; }
.car:nth-child(13).level3 { left: 400px; animation: pass 5s 52.5s 5 both; }
.car:nth-child(14).level3 { left: 265px; animation: pass 4s 53.5s 5 both; }
.car:nth-child(15).level3 { left: 30px; animation: pass 6s 54s 5 both; }

@keyframes pass {
  from {
    top: -130px;
  }
  to {
    top: 800px;
  }
}

.level-indicator {
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 3;
}

.level-indicator::after {
  content: "1";
  animation: display 100s linear both;
  font-size: 38px;
}

@keyframes display {
  0%   {content: "1";}
  25%  {content: "2";}
  50%  {content: "3";}
  100% {content: "3";}
}

.game-over {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(220,150,150);
  z-index: 2;
  text-align: center;
  box-sizing: border-box;
  display: none;
}

.game-over > h1 {
  font-size: 48px;
  margin-top: 100px;
}

.car:hover ~ .game-over,
.game-over:hover {
  display: block;
}

.game-over:hover ~ .counter > ul,
.game-over:hover ~ .level-indicator::after, 
.car:hover ~ .counter > ul,
.car:hover ~ .level-indicator::after {
  animation-play-state: paused;
}