body {
    font-family: sans-serif;
    margin: 0;
    background-color: #c6e0dd;
}

fieldset {
    margin: 20px;
    padding: 20px;
}

input {
    margin: 10px;
}

.thanks {
    display: none;
    color: green;
    padding: 20px;
}

input:checked ~ .thanks {
    display: block;
}