body {
    font-family: sans-serif;
    counter-reset: items price heavy light;
}

.cart {
    width: 500px;
    height: 500px;
    background-color:rgb(198, 225, 236);
    padding: 25px;
}

.summary {
    background-color: rgb(107, 122, 128);
    color: white;
    padding: 25px;  
}

.summary > p::after {
    margin-left: 10px;
    font-size: 24px;
}

.cart > ul > [data-delivery-size="up-to-30kg"] {
    color: rgb(255,0,0);
    counter-increment: price 19 items heavy;
}
.cart > ul > [data-delivery-size="up-to-5kg"] {
    color: rgb(155,0,0);
    counter-increment: price 5 items heavy;
}
.cart > ul > [data-delivery-size="up-to-1kg"] {
    color: rgb(55,0,0);
    counter-increment: price 1 items light;
}

.number-total::after {
    content: counter(items) " items";
}
.price-total::after {
    content: "£" counter(price) ".00";
}
.heavy-total::after {
    content: counter(heavy) " items";
}
.light-total::after {
    content: counter(light) " items";
}
